test.json
{
  "name": "Front-End Blue-Green 배포",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-front",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fe-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        -64
      ],
      "webhookId": "fe-deploy-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yQbQTbKJUZobzL3i",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "command": "docker ps --filter \"name=stockwellness-front-blue\" --filter \"status=running\" --format \"{{.Names}}\" | grep -q 'blue' && echo 'blue' || echo 'green'"
      },
      "id": "fe-check-slot",
      "name": "현재 Active 슬롯 확인",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -400,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const activeSlot = $input.first().json.stdout.trim();\nconst newSlot = activeSlot === 'blue' ? 'green' : 'blue';\nconst body = $('Webhook').first().json.body;\n\nreturn [{\n  json: {\n    activeSlot,\n    newSlot,\n    image: body.image,\n    tag: body.tag,\n    commit: body.commit,\n    message: body.message,\n    author: body.author,\n    startTime: Date.now()\n  }\n}];"
      },
      "id": "fe-calc-slot",
      "name": "슬롯 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -64
      ]
    },
    {
      "parameters": {
        "command": "=/home/chan/stockwellness/deploy/scripts/deploy-front.sh {{ $json.tag }}"
      },
      "id": "fe-execute-script",
      "name": "배포 스크립트 실행",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        48,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const vars = $('슬롯 계산').first().json;\nconst elapsed = Math.round((Date.now() - vars.startTime) / 1000);\n\nconst blocks = [{\n  \"type\": \"header\",\n  \"text\": { \"type\": \"plain_text\", \"text\": \"✅ Front-End 배포 성공\" }\n}, {\n  \"type\": \"section\",\n  \"fields\": [\n    { \"type\": \"mrkdwn\", \"text\": `*슬롯 전환*\\n${vars.activeSlot} → ${vars.newSlot}` },\n    { \"type\": \"mrkdwn\", \"text\": `*소요시간*\\n${elapsed}s` },\n    { \"type\": \"mrkdwn\", \"text\": `*버전(태그)*\\n${vars.tag}` },\n    { \"type\": \"mrkdwn\", \"text\": `*작성자*\\n${vars.author}` }\n  ]\n}];\n\nreturn [{ json: { serviceName: \"Front-End\", elapsed, ...vars, blocks } }];"
      },
      "id": "fe-calc-time",
      "name": "소요시간 계산 (성공)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -64
      ]
    },
    {
      "parameters": {
        "workflowId": "deploySuccessHandler",
        "options": {}
      },
      "id": "fe-call-success",
      "name": "공통 성공 핸들러 호출",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        496,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"service\": \"frontend\", \"slot\": \"{{ $json.newSlot }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fe-200-ok",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        -64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "현재 Active 슬롯 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "현재 Active 슬롯 확인": {
      "main": [
        [
          {
            "node": "슬롯 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "슬롯 계산": {
      "main": [
        [
          {
            "node": "배포 스크립트 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "배포 스크립트 실행": {
      "main": [
        [
          {
            "node": "소요시간 계산 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "소요시간 계산 (성공)": {
      "main": [
        [
          {
            "node": "공통 성공 핸들러 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "공통 성공 핸들러 호출": {
      "main": [
        [
          {
            "node": "200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "globalErrorHandler"
  },
  "versionId": "6c6eebf5-6c25-4f3d-868b-21abd10e6150",
  "meta": {
    "instanceId": "ef96f0ecf82fc0061a3656872e49aaa889b61fae02d2cd0706836f9e7150a297"
  },
  "id": "feDeployWf000001",
  "tags": []
}